@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	margin: 0;
	font-family: 'Inria Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@apply mt-36;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer components{
    .card{
        @apply flex items-center justify-center md:px-20 min-[200px]:px-5 py-10 md:w-9/12 min-[200px]:w-11/12;
		margin:0 auto;
        background-color: #ECF4FA;
        border-radius: 20px;
        border: 0.7px solid #f1f1f1f1;
        box-shadow: 0 4px 10px -1px rgba(0,0,0,0.1), 0 2px 6px, -2px rgba(0,0,0,0.2);
    }

	.helpcard{
        @apply flex items-start justify-start px-10 py-5;
		margin:0 auto;
        width: 35%;
        background-color: #ECF4FA;
        border-radius: 20px;
        border: 0.7px solid #f1f1f1f1;
        box-shadow: 0 4px 10px -1px rgba(0,0,0,0.1), 0 2px 6px, -2px rgba(0,0,0,0.2);
    }

}
